
input, textarea {
	font-family: @ff !important;
	font-size: 1.6rem;
	color: #aa9bc6;
}
button {
	font-family: @ff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder       {
	opacity: 1; 
	transition: opacity 0.3s ease;
	font-family: @ff !important;
	font-size: 1.6rem;
	color: #aa9bc6;
}
input::-moz-placeholder, textarea::-moz-placeholder                			{
	opacity: 1; 
	transition: opacity 0.3s ease;
	font-family: @ff !important;
	font-size: 1.6rem;
	color: #aa9bc6;
}
input:-moz-placeholder, textarea:-moz-placeholder                 			{
	opacity: 1; 
	transition: opacity 0.3s ease;
	font-family: @ff !important;
	font-size: 1.6rem;
	color: #aa9bc6;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder          		{
	opacity: 1; 
	transition: opacity 0.3s ease;
	font-family: @ff !important;
	font-size: 1.6rem;
	color: #aa9bc6;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder 		{opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder          				{opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder           				{opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder      			{opacity: 0; transition: opacity 0.3s ease;}
input, textarea, select {
	box-sizing: border-box;
	font-family: @ff;
	font-size: @fs;
	line-height: 1;
	color: #aa9bc6;
	padding-left: 25px;
  	border: none;
  	outline: none;
}




.input--name {
	background: url("@{dir}ico-user.png") no-repeat 5% 45%;
}
.input--phone {
	background: url("@{dir}ico-phone.png") no-repeat 5% 45%;
}

.error-list {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none !important;
	}
	li {
		min-height: auto !important;
		font-size: 1.2rem !important;
		font-weight: 400 !important;
		color: #e42322 !important;
		margin-bottom: 0.5rem !important;
		background: none !important;
	}
}
.input-group {
	position: relative;	
}
input.error {
	border: 2px solid red !important;}
label.error{display: none !important;}