.test-slider {
    margin-top: 125px;
    margin-bottom: 105px;
}
.small-pic-wrap {
    a {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 120px;
        margin-right: 6px;        
    }    
}
.small-pic-wrap a:last-child {
    margin-right: 0;
}
.test-slider-main-wrap {
    display: inline-block;
    vertical-align: top;
    max-width: 470px;

    h3 {
        font-size: 28px;
    }
    p {
        font-size: 17px;
    }
    span {
        font-weight: 700;
    }
}
.test-slider-main-wrap--2 {
    margin-left: 30px;
}
.big-pic-wrap {
    margin-bottom: 30px;
}
@media only screen and (max-width : 1200px) {
    .testimonials {
        display: none;
    }
}
